{% extends "users/base_without_nav.html" %}
{% load static %}
{% block content %}
<div class="wrapper bg-gray">
    <div class="container inner bg-white">
        <div class="row">
            <div class="col-12 col-sm-6 image-holder">
                <img class="rounded" src="{% static 'landing/img/signup-photo.jpg'%}" alt="">
            </div>
            <div class="col-12 col-sm-6 p-4 my-auto">
                <form method="POST">
                    {% csrf_token %}
                    <h3 class="text-center mb-5"><b>Sign In</b></h3>
                    <fieldset>
                        <input type="text" name="username" placeholder="Username" {% if form.is_bound %} value="{{ form.username.value }}" {% endif %} class="input" autocomplete="new-password">
                        <small>{{ form.username.errors}}</small>
                        <input type="password" name="password" placeholder="Password" class="input input-password" autocomplete="new-password">
                        <small>{{ form.password.errors}}</small>
                    </fieldset>
                    <span class="span-link ml-3 mt-3" style="display: inline-block;">Don't have an account? <a href="{% url 'users/register.html' %}">Create One</a></span>
                    <div class="text-center">
                        <button class="register-btn" type="submit">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}