{% extends "landing/base_without_footer.html" %}
{% load static %}
{% block content %}
<div class="wrapper bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-3 inner bg-white">
                <div class="profile-nav">
                    <div class="user-heading round">
                        <a href=""><img src="/static/landing/img/profile_pic.jpg" alt=""></a>
                        <h1>{{ user.username }}</h1>
                    </div>

                    <ul class="nav nav-pills flex-column">
                        <li class="nav-link"><a href="{% url 'profile' %}">Profile</a></li>
                        <li class="nav-link active"><a href="">My Books</a></li>
                        <li class="nav-link"><a href="{% url 'profile_edit' %}">Edit Profile</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 inner bg-white">
                <div class="panel">
                    <h2 class="mb-4">My books</h2>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for book in user_books %}
                        <p>{{book.book.name}}</p>
                        {% endfor %}
                        <div class="text-center">
                            <button class="confirm-btn mt-5" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}