body,
html {
    font-family: 'Montserrat', sans-serif;
    margin-top: 5rem;
    line-height: 1.6;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h2 { 
    font-weight: 300;
} 


hr { 
    margin-top: 15px;
    margin-bottom: 30px;
}
hr.solid {border-top: 1.9px solid;}
hr.solid.blue { color: #2352c5}

.mainmenu-area {
    background: rgba(0,0,0, 0.8)
}

.navbar-nav .nav-link {
    color: #FFF !important;
}

div.dropdown-menu {
    left: -100;
}

.bg-black {
    background: #242424;
}

.bg-gray {
    background: #f5f5f5;
}

#landing-wrapper {
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/static/landing/img/background-image.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.fade-in-up {
    animation-name: fadeInUp;
}

.jumbotron {
    margin-top: 100px;
    background: none;
}

.input-group .btn {
    padding-left: 30px;
    padding-right: 30px;
}

.card-header a {
    color: #5b5b5b;
}

.section {
    padding: 80px 0;
}

.icon-bar li {
    color: #2352c5;
    font-size: 26px;
}

.icon-bar li::after {
    background-color: #2352c5;
    content: "";
    display: inline-block;
    height: 1px;
    margin: 6px 0 6px 6px;
    width: 100px;
}

.about-img-wrapper {
    padding: 40px 0 0 50px;
}

.about-img-wrapper img {
    border-radius: 5%;
}



a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.list-unstyled {
    list-style-type:none;
}

.list-inline {
    padding: 0;
    white-space: nowrap;
}

.list-inline > li {
    display: inline;
}

footer li i {
    margin-right: 10px;
}

footer ul.links li i {
    margin-left: 10px;
}

footer a {
    color: #FFF;
}


footer a:hover {
    color: #FFF;
}

.social-icons i {
    font-size: 16px;
}

.table > tbody > tr > td {
    padding: 8px;
    line-height: 1.4;
    vertical-align: top;
}

.border-none * {
    border: none !important;
}

.addres-tb tr td i {
    font-size: 20px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.inner {
    max-width: 850px;
    margin: auto;
    padding: 20px;
    display: flex;
    -moz-box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
}

.input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #999;
    padding: 7px;
    width: 100%;
    margin: 7px;
  }

.input:focus {
    border-color: #2352c5;
  }

.register-btn {
    margin-top: 35px;
    background-color: #999;
    height: 50px;
    width: 150px;
    border: none;
    color: #FFF;
    cursor: pointer;
}

.input-password {
    font: small-caption;
    font-size: 16px;
}

.span-link {
    font-size: 12px;
    font-weight: 600;
}


.underline-it {
    text-decoration: underline;
}