body {
    font-family: 'Montserrat', sans-serif;
    margin-top: 5rem;
    line-height: 1.6;
    font-weight: 400;
}

.mainmenu-area {
    background: rgba(0,0,0, 0.8)
}

.nav-link {
    color: #FFF !important;
}

.bg-black {
    background: #242424;
}

.text-white {
    color: #FFF;
}

.border-none * {
    border: none !important;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    text-decoration: none;
    color: #FFF;
}



.list-unstyled {
    list-style-type:none;
}

.list-inline {
    padding: 0;
    white-space: nowrap;
}

.list-inline > li {
    display: inline;
}

footer li i {
    margin-right: 10px;
}

footer ul.links li i {
    margin-left: 10px;
}

.table > tbody > tr > td {
    padding: 8px;
    line-height: 1.4;
    vertical-align: top;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


/* Rules for sizing the icon. */
.fas.md-14 { font-size: 14px; }
.fas.md-18 { font-size: 18px; }
.fas.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.fas.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.fas.md-dark { color: rgba(0, 0, 0, 0.54); }
.fas.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.fas.md-light { color: rgba(255, 255, 255, 1); }
.fas.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }