{% extends 'landing/base_without_footer.html' %}
{% load static %}
{% block header %}
<style type="text/css">
    .active-star {
        color: #FAC71B;
    }

    .rating-star {
        color: #A8A498;
    }
</style>
{% endblock %}

{% block content %} 
<div id="landing-wrapper" style="padding-top: 60pt;">
    <div class="container inner bg-white mt-5">
        <div class="row ">
            <div class="col-lg-5 align-items-start image-holder">
                <img class="rounded" src="{{ book.image.url }}" alt="book image" width="300">
                <div class="space-10"></div>
            </div>
            <div class="col-lg-7 align-items-start mt-3">
                <h1>{{ book.title }}</h1>
                <p>{{ book.author }}</p>
                <ul class="list-inline list-unstyled rating-star">
                    <li class="active-star">
                        <i class="icofont-star"></i>
                    </li>
                    <li class="active-star">
                        <i class="icofont-star"></i>
                    </li>
                    <li class="active-star">
                        <i class="icofont-star"></i>
                    </li>
                    <li>
                        <i class="icofont-star"></i>
                    </li>
                    <li>
                        <i class="icofont-star"></i>
                    </li>
                </ul>
                <p>Genre: 
                    {% for genre in book.genre.all %} 
                        {{genre.name}}{% if not forloop.last %},{% endif %}
                    {% endfor %}</p>
                <h4>Summary:</h4>
                <p>
                    {{ book.summary|linebreaksbr }}
                </p>
                <p>ISBN: {{ book.isbn|linebreaksbr }} </p>
                <!-- {% if book.isAvailable %}
                <p>Available: Yes </p>
                <button type="button" class="btn btn-success">Reserve</button>
                {% else %}
                <p>Available: No </p>
                {% endif %} -->
                <!-- {% if not book.isEbook %}
                <button type="button" class="btn btn-primary">Read online</button>
                {% endif %} -->
            </div>
        </div>
    </div>


</div>

{% endblock %}