{% extends "landing/base.html" %}
{% load static %}



{% block header %}
  <style type="text/css">
  
  .pull-left{
    float:left;
  }
  .pull-right{
    float:right;
  }
  .input-search{
    width: 90%;
    float:left;
    border-radius: 5px;
  }
  .input-group{
    float:left;
    
  }
  .btn-primary{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
</style>

{% endblock %}

{% block content %}



  <div style="height:80px"></div>
       
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-2">
                <aside>Test</aside>
              </div>

              <div class="col-xs-12 col-md-10 pull-right">
                <h5>Search box</h5>
                <div style="height:10px"></div>
                <div class="input-group">
                  <input type="text" name="search_input" class="input-search" placeholder="Enter book name">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                      <i class="icofont-search-2"></i>
                    </button>
                  </div>
                </div>
                 <div style="height:10px"></div>
              </div>


          </div>
        </div>

        <!-- <div class="container inner bg-white">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Author</th>
              <th>Mini description</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="/static/landing/img/profile_pic.jpg"></td>
              <td>Name 1</td>
              <td>Author</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
              <td><button>More detail</button></td>
            </tr>

          </tbody>
      </table>
        </div> -->

{% endblock %} 